@screen--mobile: 320px;
@screen--small: 700px;
@screen--medium: 1200px;
@screen--big: 1440px;

@grey--600: #757575;
@grey--300: #e0e0e0;
@grey--200: #eee;
@grey--50: #fafafa;
@grey--bkg: #f3f5f8;

@text--main: rgba(0, 0, 0, .87);
@text--secondary: rgba(0, 0, 0, .54);
@text--hints:  rgba(0, 0, 0, .87);
@text--dividers:  rgba(0, 0, 0, .12);


@primary: #30bfb4; //#17b1a5
@primary--light: desaturate(lighten(@primary, 20),10); //#80cbc4;
@primary--dark: darken(@primary, 12); // #00796b;
@accent--light: spin(desaturate(lighten(@accent--dark,20),20), 5); // #fff9c4;
@accent--dark: lighten(saturate(spin(@primary, -120), 15), 10); // #ffee58;

@font-family: 'Roboto', sans-serif;

@font-size: 16px;
@font-size--big: 18px;
@font-size--h3: @font-size + 2;
@font-size--h2: @font-size + 12;
@font-size--h1: @font-size + 50;
@font-size--menu: 16px;

@anim--header: 2s;

/* Complementary Color Scheme 
@base: #663333;
@complement1: spin(@base, 180);
@complement2: darken(spin(@base, 180), 5%);
@lighten1: lighten(@base, 15%);
@lighten2: lighten(@base, 30%);
*/

/* Subtle Color Scheme 
@base: #663333;
@lighter1: lighten(spin(@base, 5), 10%);
@lighter2: lighten(spin(@base, 10), 20%);
@darker1: darken(spin(@base, -5), 10%);
@darker2: darken(spin(@base, -10), 20%); */