@screen--mobile: 320px;
@screen--small: 700px;
@screen--medium: 1200px;
@screen--big: 1440px;

@grey--600: #757575;
@grey--300: #e0e0e0;
@grey--200: #eee;
@grey--50: #fafafa;

@text--main: rgba(0, 0, 0, .87);
@text--secondary: rgba(0, 0, 0, .54);
@text--hints:  rgba(0, 0, 0, .87);
@text--dividers:  rgba(0, 0, 0, .12);

@primary--light: #80cbc4;
@primary--dark: #00796b;
@accent--light: #fff9c4;
@accent--dark: #ffee58;

@primary: #17b1a5;
@grey--bkg: #f3f5f8;

/*
primary - blue-grey 
100 - #cfd8dc
500 - #607d8b
700 - #455a64

accent - teal
100 - #b2dfdb
400 - #26a69a
*/

@font-family: 'Roboto', sans-serif;

@font-size: 16px;
@font-size--big: 18px;
@font-size--h3: @font-size + 2;
@font-size--h2: @font-size + 12;
@font-size--h1: @font-size + 50;
@font-size--menu: 16px;

@line-height: ;