.about { 
  padding: 60px 0;
  background: @grey--bkg;
  
  &__text {
    padding: 0 80px;
    margin: 0 auto;
    color: @text--secondary;
    font-size: @font-size--big;
    line-height: 2em;
    text-align: center;
    vertical-align: middle;
  }
}