.intro {
  background: @grey--bkg;
  margin: 0 0 10rem;
  &__text {
    margin: 2em auto;
    color: @text--secondary;
    font-size: @font-size--big;
    line-height: 2em;
    text-align: justify;
  }
}