html,
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-color: @grey--font;
  font-size: @font-size;
  font-family: @font-family;
  background: #fff;
}

.container {
  width: 90%;
  margin: 0 auto;
  border: 1px solid transparent;
  @media(min-width: @screen--small) {
    width: 90%;
  }
  @media(min-width: @screen--medium) {
    width: 900px;
  }
  @media(min-width: @screen--big) {
    width: 1180px;
  }
}

.btn {
  display: inline-block;
  padding: 15px;
  margin: 0 0 2em;
  color: @green--decor;
  font-size: @font-size;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid @green--decor;
  &:hover {
    color: #fff;
    background: @green--decor;
  }
  &:active {
    color: #fff;
    background: @grey--decor;
    border: 1px solid @grey--decor;
  }
}

.btn--small {
  display: inline-block;
  padding: 5px;
  margin: 0 0 1em;
  background: @green--decor;
  color: #fff;
  font-size: @font-size;
  text-decoration: none;
   &:hover {
    background: @green--dark;
  }
  &:active {
    background: @grey--decor;
  }  
}

.btn--top {
}

.header--h2,
.header--h3 {
  margin: 2em 0 1em;
  color: @grey--h;
  font-weight: bold;
  text-transform: uppercase;
}

.header--h2 {
  font-size: @font-size--h2;
}

.header--h3 {
  font-size: @font-size--h3;
}

.text {
  padding: 0 0 1em;
  color: @grey--font;
  font-size: @font-size;
  // column-count: 2;
  // column-width: auto;
  //column-gap: normal;
}