.page-header {
  margin: 0;
}

.header-wrapper {
  // background: linear-gradient(to right, @green, @blue), url("http://us.123rf.com/450wm/pengyou91/pengyou911303/pengyou91130300166/18489756-china-lugu-lake-panorama.jpg") 50% 50%/cover no-repeat fixed;
  background: @primary url("../img/bkg.jpg") no-repeat;
  background-size: 100%;
}

.header--main {
  width: 90%;
  padding: 250px 0 0;
  margin: 0 auto;
  text-align: left;
  color: #fff;
  font-size: @font-size--h1;
  font-weight: 100;
  text-transform: uppercase;
  height: 740px;
  @media(min-width: @screen--small) {
    width: 90%;
  }
  @media(min-width: @screen--medium) {
    width: 900px;
  }
  @media(min-width: @screen--big) {
    width: 1180px;
  }
  span {
    font-size: @font-size--h2;
    text-transform: none;
    font-weight: 400;
  }
}

.menu {
  background: #bdbdbd;
  &__wrapper {
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    @media(min-width: @screen--small) {
      width: 90%;
    }
    @media(min-width: @screen--medium) {
      width: 900px;
    }
    @media(min-width: @screen--big) {
      width: 1180px;
    }
  }
  &__btn {
    display: block;
    padding: 20px 40px;
    color: #fff;
    font-size: @font-size--menu;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    &:hover {
      background:#9e9e9e;
    }
    &:active {
      background: @grey--300;
      color: @primary;
    }
    &:hover:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 4px;
      background: @primary--light;
    }
  }
}

.header__bkg {
height: 775px;
width: 100%;
background: black;
position: relative;
z-index: 0;
}

.header__rect--1 {
height: 50%;
width: 50%;
background: #fff;
z-index: 1;
position: absolute;
transform: translate(10%) rotate(45deg);
}