.portfolio {
  &__work {
    display: flex;
    justify-content: space-around;
    margin: 0 auto 5rem;
    position: relative;
    &:not(:last-child):after {
      content: '';
      position: absolute;
      width: 50%;
      height: 1px;
      background: rgba(0, 0, 0, .12);
      bottom: -4rem;
      left: 25%;
    }
  }
 &__img {
   height: 354px;
   width: 600px;
   margin: 4rem 0 0;
   
 }
   &__description {
   width: 400px;
   
 }
  
}