.portfolio {
  background: linear-gradient(to right, @primary--dark, @accent--light);
  
  &__examples {
    display: flex;
    justify-content: space-between;
  }
  
  &__work {
    height: 600px;
    width: 380px;
    background: @grey--300;
  }
}