.resume {
  margin: 0 auto;
  background: #000 url("../img/bkg.jpg") 50% 50%/cover no-repeat fixed;
  text-align: center;
  position: relative;
  @media(min-width: @screen--small) {
    margin: 0 0 4rem;
    background: @grey--bkg;
  }
  &:after {
    display: none;
    width: 0;
    height: 0;
    //   margin: 0 0 0 40px;
    content: "";
    border-style: solid;
    border-width: 40px 100px 0 100px;
    border-color: @grey--bkg transparent transparent transparent;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-100px);
    @media(min-width: @screen--small) {
      display: block;
    }
  }
  & .header--h2 {
    color: @primary--light;
    @media(min-width: @screen--small) {
      color: @grey--600;
    }
  }
  & .text {
    color: @grey--bkg;
    text-align: center;
     @media(min-width: @screen--small) {
      display: block;
       
  color: @text--secondary;
    }
  }
  .btn {
    margin: 2rem 0 6rem;
  }
}